In [1]:
import pandas as pd
import os
print(os.getcwd());

/Users/leodegeus/projectsPythonGH

In [2]:
stats = pd.read_csv('/Users/leodegeus/downloads/DemographicData.csv')

In [3]:
stats[100:110]

,Country Name,Country Code,Birth rate,Internet users,Income Group
100,Libya,LBY,21.425,16.5000,Upper middle income
101,St. Lucia,LCA,15.430,46.2000,Upper middle income
102,Liechtenstein,LIE,9.200,93.8000,High income
103,Sri Lanka,LKA,17.863,21.9000,Lower middle income
104,Lesotho,LSO,28.738,5.0000,Lower middle income
105,Lithuania,LTU,10.100,68.4529,High income
106,Luxembourg,LUX,11.300,93.7765,High income
107,Latvia,LVA,10.200,75.2344,High income
108,"Macao SAR, China",MAC,11.256,65.8000,High income
109,Morocco,MAR,21.023,56.0000,Lower middle income